//---------------------------------
//Section Portfolio
//---------------------------------
#portfolio {
  h2 {
    text-align: center;
  }
  /*Préparation des filtres*/
  .container-filtres {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 100px;
    .buttons-filtres {
      background-color: #fefef8;
      padding: 9px 20px;
      border: 1px solid #1d6154;
      border-radius: 25px;
      color: #1d6154;
      font-weight: 700;
      font-size: 1.2rem;
      font-family: Syne;
      cursor: pointer;
    }
    .active {
      background-color: #1d6154;
      color: white;
    }
  }
  .gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    img {
      width: 100%;
    }
  }
}
/****************Utilisateur conectée****************/
.div-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
  gap: 10px;
  span {
    cursor: pointer;
  }
}
