/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
a {
	text-decoration: none;
	color: #000;
  }
a:hover {
	color: #b1663c;
  }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}


#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-bottom: 1em;
	gap: 30px;
}

/**** section filtres ****/

.filters {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 40px;
}

.filterButton {
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	background-color: white;
	border: 1px solid;
	border-color: #1D6154;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px;
	border-radius: 60px ;
	min-width: 100px;
	cursor: pointer;
	
}

.filterButton:hover {
	color: white;
	background-color: #1D6154;
}

.filterButtonActive {
	color: white;
	background-color: #1D6154;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer {
	position: absolute;
	
	width: 100%;
	background-color: white;
	left: 0;
}
footer nav ul {
	margin: auto;
	max-width: 1140px;
	display: flex;
	justify-content: flex-end;
	padding-top: 24px;
	padding-bottom: 20px;
	padding-right: 5%;
}

/**** ADMIN ****/

.blackBanner{
	background-color: black;
	height: 59px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 16px;
	gap: 7px;
}

.editBouton{
	display: flex;
	font-size: 14px;
	font-weight: 400;
	gap: 8px;
	align-items: center;
}

/**** MODALE ****/

.modal {
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.3);
	animation: fadeIn .3s both
}

.modal-wrapper {
	box-sizing: border-box;
	position: relative;
	overflow: auto;
	width: 630px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	padding: 65px 8% 45px;
	border-radius: 10px;
	background-color: white;
	animation: slideFromTop .4s both;
}

.modal[aria-hidden="true"] {
	animation-name: fadeOut;
}

.modal[aria-hidden="true"] .modal-wrapper {
	animation-name: slideToBottom;
}

.arrowLeft {
	display: none;
	position: absolute;
	border: none;
	background-color: transparent;
	left: 28px;
	top: 28px;
	cursor: pointer;
  }

.js-modal-close {
	position: absolute;
	border: none;
	color: #000;
	background-color: transparent;
	right: 28px;
	top: 28px;
	cursor: pointer;
}  
  
.modalContent1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.modalContent2 {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title-modal {
	font-family: Work Sans;
	font-weight: 400;
	font-size: 26px;
	color: #000;
}
  
.galleryModal {
	padding-top: 1em;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 30px 10px;
}
  
.galleryModal img {
	width: 100%;
}

.galleryModal figure {
	position: relative;
}

.iconTrash {
	position: absolute;
  	top: 5px;
  	right: 5px;
  	background-color: #000000;
  	color: #ffffff;
	font-size: 10px;
  	width: 18px;
  	height: 18px;
	padding: 1px 2px 1px 1px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	border-radius: 4px;
  	cursor: pointer;
}


.line {
	border-top: 1px solid #B3B3B3;
	margin-top: 55px;
	margin-bottom: 35px;
	width: 420px;
}

.buttonModal {
	height: 36px;
	font-size: 1.2em;
	border: transparent;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	font-family: "Syne";
	font-weight: 700;
	color: white;
	background-color: #1d6154;
	width: 237px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
	margin-bottom: 27px;
}

.addPhoto {
	width: 420px;
	height: 169px;
	border-radius: 3px;
	background-color: #e8f1f6;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	position: relative;
}

.logoPhoto {
	font-size: 63px;
	color: #B9C5CC;
}

.btnPhotoInput {
	color: #306685;
    background-color: #CBD6DC;
    border-radius: 50px;
    padding: 10px 33px;
	font-weight: 600;
	cursor: pointer;
}

.photoInputTxt {
	font-size: 10px;
}

#formModal {
	text-align: left;
	display: flex;
	flex-direction: column;
	align-items: center;	
}

.formSize {
	height: 50px;
	width: 420px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.formLabel {
	margin: 2em 0 1em 0;
	font-weight: 600;
	color: #3D3D3D;
	width: 100%;
	text-align: left;
}

#photoInput {
	display: none;
}

#buttonValidate {
	background-color: #A7A7A7;
	color: white;
	border-radius: 60px;
	width: 37%;
	padding: 10px 49px;
	border: none;	
	cursor: pointer;
}

.imageFile {
	height: 169px;
	object-fit: contain;
}

.iconDelete {
	position: absolute;
	display: none;
	right: 20px;
	top: 20px;
	cursor: pointer;
}

.errorImg {
	color: red;
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeOut {
	from {opacity: 1;}
	to {opacity: 0;}
}

@keyframes slideFromTop {
	from { transform: translateY(-50px);}
	to { transform: translateY(0px);}
}

@keyframes slideToBottom {
	from { transform: translateY(0px);}
	to { transform: translateY(50px);}
}